/* src/styles/colors.css */
:root {
    --primary-color: #3f5c8b;
    /* Main text & titles */
    --hover-color: #eb6308;
    /* Hover color */
    --text-color: #333333;
    /* Paragraph text */
    --bg-color: #ffffff;
    /* Background color */
    --text-button-color: #ffffff;
}